/* Education.css */

.education-container {
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle depth effect */
    background: -webkit-linear-gradient(left, #141e30, #243b55); /* Webkit linear gradient background */
  background: linear-gradient(to right, #141e30, #243b55); /* Standard linear gradient background */
  text-align: center;
  padding: 20px;
  color: white;
  height: 86vh;
  background-size: cover;
  }
  
  .education-item {
    margin-bottom: 20px;
  }
  
  .education-item h3 {
    color: #f39c12; /* Orange heading color */
  }
  
  .education-item p a{
    margin: 10px ;
    background-color: transparent;
    font-weight: 500;
    text-decoration: underline;
  }
  
  /* Add more styles as needed */
  