/* SkillItem.css */
.card{
  background: -webkit-linear-gradient(left, #141e30, #243b55); /* Webkit linear gradient background */
  background: linear-gradient(to right, #141e30, #243b55); /* Standard linear gradient background */
  text-align: center;
  padding: 20px;
  color: white;
}
.skill-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
  }
  
  .skill-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .skill-heading {
    margin-top: 10px;
    font-size: 1.2em;
    color: #f0dddd;
  }
  
  .skill-description {
    margin-top: 10px;
    color: #989797;
  }
  